* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}

$heightBreakpoint: 640px;
$widthBreakpoint: 840px;

.wrapper {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #614385 0%, #516395 100%);
  padding-bottom: 40px;
  overflow: hidden;
  padding-left: 32px;
  padding-right: 32px;

  @media screen and (max-height: $heightBreakpoint) {
    padding-bottom: 128px;
  }

  @media screen and (max-width: $widthBreakpoint) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.recorder {
  width: 100%;
  max-width: 900px;
  height: 100%;
  max-height: 680px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: $widthBreakpoint) {
    max-height: 580px;
  }

  &__body {
    width: 100%;
    flex: 1;
    padding-left: 85px;
    padding-right: 85px;
    background: linear-gradient(
      90deg,
      #2e2e2e 0%,
      #393939 3.91%,
      #2e2e2e 9.21%,
      #2e2e2e 50%,
      #2e2e2e 90.62%,
      #393939 95.93%,
      #2e2e2e 100%
    );
    border-radius: 0px 0px 20px 20px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @media screen and (max-width: $widthBreakpoint) {
      padding-left: 48px;
      padding-right: 48px;
    }
  }

  &__decoration {
    &--top {
      width: 100%;
      flex: 0 0 20%;
      // height: 165px;
      background: linear-gradient(180deg, #3f3e3e 0%, #292929 100%);
      box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.3);
      border-radius: 0px 0px 8px 8px;
      position: relative;
      border: 4px solid transparent;
      background-clip: padding-box;
      // margin-top: -10px;
      transform: translateY(-10px);

      &:before {
        content: '';
        position: absolute;
        width: calc(100% - 24px);
        height: 100%;
        background-image: url('./images/pattern.png');
        background-size: 20px;
        background-position: bottom center;
        top: -5px;
        left: 50%;
        transform: translateX(-50%);
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -4px; /* !importanté */
        border-radius: inherit; /* !importanté */
        background: linear-gradient(
          to bottom,
          rgba(50, 50, 50, 1),
          rgba(43, 43, 43, 0)
        );
      }
    }

    &--bottom {
      background: linear-gradient(
        90deg,
        #1e1e1e 0%,
        #303030 3.91%,
        #242424 9.21%,
        #2e2e2e 50%,
        #242424 90.62%,
        #303030 95.93%,
        #1e1e1e 100%
      );
      border-radius: 0px 0px 20px 20px;
      width: 100%;
      height: 170px;
      position: absolute;
      left: 0;
      bottom: -150px;

      @media screen and (max-width: $widthBreakpoint) {
        height: 80px;
        bottom: -60px;
      }
    }
  }

  &__wave {
    width: 100%;
    height: 165px;
    background: #3d3d3d;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    position: relative;
    border: 4px solid transparent;
    background-clip: padding-box;
    margin-top: 40px;
    flex: 0 0 32%;
    cursor: pointer;

    @media screen and (max-height: $heightBreakpoint) {
      margin-top: 20px;
    }

    #waveform {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      height: 100%;
      max-height: 100%;
      overflow: hidden;

      &.--hidden {
        display: none;
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -4px; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: linear-gradient(to bottom, #484848, #3c3c3c);
    }

    &__empty {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(0, 0, 0, 0.1);
      opacity: 0;
      visibility: hidden;
      transition: 0.3s;
      pointer-events: none;

      &--active {
        opacity: 1;
        visibility: visible;
        transition: 0.3s;
        pointer-events: all;
      }

      h4 {
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        text-align: center;
      }
    }
  }

  &__control {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
    max-width: 560px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.3);

    @media screen and (max-width: $widthBreakpoint) {
      max-width: calc(100% - 32px);
    }
  }

  &__button {
    flex: 1;
    height: 114px;
    background: linear-gradient(180deg, #4b4b4b 0%, #393939 100%);
    border-right: 1px solid rgba(#333, 0.6);
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

    @media screen and (max-height: $heightBreakpoint) {
      height: 64px;
    }

    @media screen and (max-width: $widthBreakpoint) {
      height: 64px;
    }

    &:hover {
      .icon {
        opacity: 1;
        transform: scale(1.05);
        transition: 0.3s;
      }
    }

    .icon {
      position: absolute;
      width: 46px;
      height: auto;
      opacity: 0.5;
      transition: 0.3s;

      @media screen and (max-height: $heightBreakpoint) {
        width: 24px;
      }

      @media screen and (max-width: $widthBreakpoint) {
        width: 24px;
      }

      &--small {
        width: 36px;

        @media screen and (max-height: $heightBreakpoint) {
          width: 20px;
        }

        @media screen and (max-width: $widthBreakpoint) {
          width: 20px;
        }
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    &:after {
      content: '';
      width: 100%;
      height: 8px;
      position: absolute;
      left: 0;
      bottom: 0;
      background: #333;
    }

    &:first-of-type {
      border-top-left-radius: 8px;
    }

    &:last-of-type {
      border-top-right-radius: 8px;
      border-right: none;
    }

    &--highlight {
      background: linear-gradient(180deg, #c4005e 0%, #ff007a 100%);
      // border-bottom-color: #c4005e;

      &:after {
        background: #c4005e;
      }
    }

    &--active {
      box-shadow: 0 20px 60px rgba(#ff007a, 0.5);
      transition: 0.3s;
      transform: translate3d(0, 3px, 0);

      .icon {
        animation: 1s pulse infinite;
        opacity: 1;
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

footer {
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  bottom: 24px;
  width: 100%;
  line-height: 1.5;
}
